<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SummaEase: Speech and Text Summarization using BERT</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<nav>
    <h1 class="text-center">SummaEase: Speech and Text Summarization using BERT</h1>
</nav>

<div class="container">
    <form action="/summarize_text" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="text">Enter your text</label>
            <textarea name="text" id="text" cols="30" rows="4" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Summarize Text</button>
    </form>
    {% if corrected_text %}
    <h5>Summary:<br> {{ corrected_text }}</h5>
    {% endif %}
</div>

<div class="container">
    <form action="/summarize_audio_file" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload Audio</label>
            <input type="file" name="file" id="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Summarize Audio</button>
    </form>
    <h5>Audio Summary:<br> {{ corrected_file_text }}{{corrected_text}}</h5>
</div>
<footer class="text-center">
        <span>
            &copy; 2024: SummaEase: Speech and Text Summarization using BERT
        </span>
</footer>

</body>

</html>